/* this whole thing is a rule vvv */
body /* <== selector */ {     /* this bit is the body */
	background-color: red; /* this is a declaration */
	color /* this is a property */: blue /* this is a value */;
}
/* end of rule */

p, li {
	color: rgb(0, 255, 0); /* bright green - 0 red, 255/255 green, 0 blue */
}

p { /* "type selector" (just a tag name) */
	margin: 2cm;
	padding-top: 1em;
}

p a { /* the space is the "descendant combinator": any "a" element that's inside a
 * "p" element, at any depth
 */
	border: 2px solid #00ff00; /* #0f0  - both bright green*/
}

.happy /* class selector: all elements with class="happy" */ {
	color: hsl(60, 100%, 50%); /* yellow: 60 degrees round the colour wheel with
	 * red at 0, green at 120, blue at 240;
	 * fully saturated (as yellow as it gets);
	 * mid-lightness (not faded nor dark)
	 */
}

li.happy { /* no space - must both be li *and* have class happy */ 
	text-decoration: underline;
}

#hello /* id selector: the one item with ID hello */ {
	background: white;
}

a[href^="https:"] {
	font-size: 36pt;
}

p#hello {
	background: grey;
}

p#hello a > em {
	background: orange;
}

.happy {
	outline: 50px dotted magenta;
}

img[alt] {
	
}

img {
	border: 10px dashed purple;
	/* ^^^ a pre-defined shorthand for setting all three of these:
	border-width: 10px;
	border-style: dashed;
	border-color: purple;
	*/
}

img:hover {
	border: 10px solid black;
}

li:nth-of-type(2n) {
	text-decoration: underline;
}

#fred {
	width: 6cm;
	height: 4cm;
	border: 1px solid blue;
	
	position: fixed;
	top: 0;
	right: 50px;
}

.side-image {
	float: right;
	max-width: 20%;	
}

article p {
	margin: 0;
	border: 1px solid white;
}

article p::before {
	content: attr(id);
	background: blue;
}

article {
	/*column-count: 3;*/
	/*display: grid;
	grid-template-columns: 200px 2fr 1fr;*/
	display: flex;
	flex-flow: row wrap; /* automatically wraps if there isn't enough space */
}

#p3 {
	/*grid-column: 1;
	grid-row: 1;*/
	flex: 5;
}

#p2 {
	flex: 0.5;
}

#p2 { flex: 2; }

ul#menu {
	background: grey;
	margin: 0;
	padding: 0;
}

ul#menu > li {
	display: inline-block;
}

ul#menu > li > ul {
	display: none;
}

ul#menu > li:hover > ul {
	display: block;
	position: absolute;
	background: darkgrey;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

