body {
	font-family: Arial, sans-serif;
	color: red;
}

.top-navbar {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.top-navbar li {
	border: 1px dotted red;
	padding: 10px 20px;
	text-align: center;
}

.nav-gallery-dropdown {
	display: none;
}
